{% extends 'base.html' %}
{% block content %}
  <div class="d-flex d-row justify-content-center mb-3">
    <h4>Popular tags:</h4>
    {% for tag in tag_list %}
      <a class="btn btn-outline-dark rounded-pill mx-2 py-1"
         href="{% url 'core:post_tag' tag.slug %}">{{ tag.name }}</a>
    {% endfor %}
  </div>
  {% for post in post_list %}

    <div class="card mb-3">

      <div class="card-body">
        <div class="row g-0">
          <div class="col-md-5">
            <div class="ratio ratio-16x9">
              {% if post.image %}
                <img src="{{ post.image.url }}" class="rounded featured-image-list" alt="{{ post.title }}">
              {% else %}
                <img src="https://via.placeholder.com/1280x720" class="rounded" alt="{{ post.title }}">
              {% endif %}
            </div>
          </div>
          <div class="col-md-7 ps-md-3 pt-3 pt-md-0 d-flex flex-column">

            <h2 class="card-title h5">
              <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
              </a>
            </h2>

            {% include "includes/tag_list.html" %}

            <div class="text-muted">
              <small>
                Published {{ post.publish.date }} by <strong>{{ post.author }}</strong>
                <span>{{ post.views }} view{{ post.views|pluralize:",s" }}</span>
              </small>
            </div>

            <p class="card-text mb-auto py-2">{{ post.content|safe|striptags|truncatechars:100 }}</p>

            <div>
              <a href="{{ post.get_absolute_url }}" class="btn btn-primary btn-sm">Read more</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  {% empty %}
    <h1 class="d-flex justify-content-center">No posts found</h1>
  {% endfor %}

  <div class="row">
    {% include "includes/pagination.html" %}
  </div>

{% endblock content %}
